h2 {
  font-weight: 600;
}

h2 em {
  font-weight: 300;
  font-style: normal;
}

footer {
  background-color: black;
  color: #FFF;
  display: flex;
}

footer div {
  flex-grow: 1;
}

footer aside {
  background-color: #fff;
  color: #000;
  flex-basis: 20vw;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer aside a {
  color: red;
}
