table {
  width: 100%;
}

th {
  text-transform: uppercase;
  text-align: left;
  font-size: .6em;
}

tbody tr {
  border: none;
}

tbody td {
  border-top: none;
  border-bottom: none;
  border-left: .1em transparent solid;
  border-right: .1em transparent solid;
  padding: .2em;
}

tbody tr:nth-of-type(even) {
  background-color: grey;
}

tbody tr:nth-of-type(odd) {
  background-color: lightgrey;
}
